<template>
  <div class="todo">
    <h1>ToDoリスト</h1>
      <div class="list-todo">
        <!-- ラジオボタン　ステータス選択 -->
        <input type="radio" name="selRadio" value="all" v-model="checkedRadio">全て
        <input type="radio" name="selRadio" value="working" v-model="checkedRadio">作業中
        <input type="radio" name="selRadio" value="complete" v-model="checkedRadio">完了

        <!-- タスク表示領域 -->
        <table>
          <thead>
              <tr>
                <th class="id">ID</th>
                <th class="comment">コメント</th>
                <th class="status">状態</th>
                <th class="deleteBtn"></th>
              </tr>
          </thead>

          <tbody>
            <tr v-for="(todo, index) in filteredTodos" :key="index">
              <td>{{ index }}</td>
              <td>{{ todo.comment }}</td>
              <!-- 状態選択ボタン -->
              <td>
                <button v-on:click="changeStatus(index)">{{ todo.state }}</button>
              </td>
              <!-- 削除ボタン -->
              <td>
                <button v-on:click="deleteTodo(index)">削除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="form">
        <!-- タスク追加領域 -->
        <h2>新規タスクの追加</h2>
        <input type="text" v-model="newTodo" id="addTxt">
        <button id="addBtn" v-on:click="addTodo">追加</button>
      </div>
  </div>

</template>

<script>
  import AppLogo from '~/components/AppLogo.vue'
  export default {
    components: {
      AppLogo
  },
  data(){
    return {
      todos: [],
      newTodo: '',
      checkedRadio: 'all'
    }
  },
  methods: {
    addTodo() {
      //テーブル追加
      this.todos.push( {id: this.todos.length, comment: this.newTodo, state: '作業中'} );
      this.newTodo = ''
    },
    changeStatus(index) {
      //状態変更（作業中⇔完了）
      if(this.todos[index].state == '作業中'){
        this.todos[index].state = '完了';
      }
      else{
        this.todos[index].state = '作業中';
      }
    },
    deleteTodo(index) {
      //タスク削除
      this.todos.splice(index,1);
    } 
  },
  computed: {
    filteredTodos: function() {
      //選択したラジオボタンの状態でタスク抽出する
      if(this.checkedRadio === 'working'){
        return this.todos.filter(todo => todo.state === '作業中')
      }
      else if (this.checkedRadio === 'all') {
        return this.todos
      }
      else if (this.checkedRadio === 'complete') {
        return this.todos.filter(todo => todo.state === '完了')
      }
    }
  },
  created: function() {
    //ここに実行したい処理を記述する
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

